<header class="navbar navbar-main">
  <section class="navbar-section">
    <div class="navbar-brand">
      <a href="{{ site.baseurl }}/" class="brand-logo">
        <img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}">
        <h2>{{ site.moto | escape }}</h2>
      </a>
    </div>
  </section>
  <section class="navbar-section">
    {% assign menu_pages = site.pages | where: 'menu', 'main' | sort: 'weight' %}
    {% for p in menu_pages %}
      <a href="{{ site.baseurl }}{{ p.url }}" class="btn btn-link">{{ p.title }}</a>
    {% endfor %}
  </section>
</header>
