---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "custom_bootstrap";


.navbar-main{

  border-bottom: 1px solid $primary;

  .brand-logo{

    align-items: center;
    border-radius: .1rem;
    display: inline-flex;
    font-size: .7rem;
    height: auto;
    padding: .2rem;
    width: auto;

    img{
      display: inline-block;
      height: auto;
      width: 120px;
    }

    h2{
      color: $primary;
      display: inline-block;
      font-size: .8rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0;
      margin-left: .5rem;
      margin-right: .3rem;
    }

  }

}

.footer-main{
  border-top: 1px solid $primary;
}

.documentation-content{
  .row{
    border-top: 2px solid $secondary;
    padding: 10px 0;
  }
}

/* +++++++++++ WIP +++++++++++++ */


.so_strong{
  font-size: 1.3rem;
}

/* Mailchimp form */
#mc_embed_signup {
  background: $gray-200;
  color: white;
  clear:left;
  width:90%;
  margin: 0 auto;
  padding: 10px;

  .button {
    /*
    background-color: #025f00;
    */
  }
}

#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
#mergeRow-gdpr {margin-top: 20px;}
#mergeRow-gdpr fieldset label {font-weight: normal;}
#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}

